* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  /* background: linear-gradient(0deg, rgba(32,111,184,1) 30%, rgba(131, 127, 181, 1) 100%); */
}

h1, h2, h3, h4, p {
  margin: 0px;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}